.introdução {
  background: var(--preto);
  box-shadow: inset 0 -80px var(--branco);
}
.conteudointro {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}
.textosintro {
  margin-top: 100px;
}
.introtitulo,
.introtexto {
  margin-bottom: 40px;
}
.introtexto {
  max-width: 40ch;
}
.imgintro {
  height: 100%;
  object-fit: cover;
}
@media (max-width: 1200px) {
  .textosintro {
    margin-top: 80px;
  }
}
@media (max-width: 800px) {
  .introdução {
    box-shadow: inset 0 -40px var(--branco);
  }
  .introtitulo {
    margin-bottom: 20px;
  }
  .textosintro {
    margin-top: 60px;
  }
  .conteudointro {
    grid-template-columns: 1fr;
  }
  .imgintro {
    height: 300px;
    width: 100%;
    margin-top: 20px;
  }
  .introdução {
    background: var(--preto1);
  }
  .textosintro {
    margin-top: 60px;
  }
}
