.p-titulo {
  font-family: "poppins";
  font-size: 64px;
  line-height: 1.3;
  font-weight: 600;
}
.p-titulo1 {
  font-family: "poppins";
  font-size: 32px;
  line-height: 1.3;
  font-weight: 600;
}
.p-titulo2 {
  font-family: "poppins";
  font-size: 24px;
  line-height: 1.3;
  font-weight: 500;
}
.p-textop {
  font-family: "poppins";
  font-size: 18px;
  line-height: 1.3;
  font-weight: 500;
}
.r-paragrafo {
  font-family: Roboto;
  font-size: 24px;
  line-height: 1.5;
  font-weight: 400;
}
.r-paragrafo1 {
  font-family: Roboto;
  font-size: 20px;
  line-height: 1.5;
  font-weight: 400;
}
.r-sub {
  font-family: Roboto;
  font-size: 20px;
  line-height: 1.5;
  font-weight: 500;
}
.r-upper {
  font-family: Roboto;
  font-size: 24px;
  line-height: 1.5;
  font-weight: 500;
  text-transform: uppercase;
}
.r-texto {
  font-family: Roboto;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
}
.r-texto1 {
  font-family: Roboto;
  font-size: 18px;
  line-height: 1.5;
  font-weight: 500;
}
.r-titulopp {
  font-family: Roboto;
  font-size: 18px;
  line-height: 1.5;
  font-weight: 700;
  text-transform: uppercase;
}
.textodep {
  font-family: Merriweather;
  font-style: italic;
  font-weight: 900;
  font-size: 36px;
  line-height: 1.3;
}
@media (max-width: 1200px) {
  .p-titulo {
    font-size: 40px;
  }
  .r-paragrafo {
    font-size: 18px;
  }
}
@media (max-width: 800px) {
  .p-titulo {
    font-size: 36px;
  }
  .p-titulo1 {
    font-size: 24px;
  }
  .r-texto1 {
    font-size: 16px;
  }
}
