.bicicleta1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: start;
  gap: 40px;
  padding-top: 60px;
  padding-bottom: 60px;
}
.img-bicicletas {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.img-bicicletas img {
  flex: 1;
  min-width: 200px;
}
.img-bicicletas img:first-child {
  min-width: 100%;
}
.conteudo-bicicleta p {
  margin-bottom: 32px;
}
.comprar {
  display: grid;
  grid-template-columns: max-content auto;
  align-items: center;
  justify-items: start;
  gap: 8px 12px;
}
.comprar a {
  grid-row: span 2;
  max-width: max-content;
}
.compra {
  display: flex;
  align-items: center;
  background: var(--preto);
  border-radius: 4px;
  padding: 4px 8px;
  gap: 8px;
}
.conteudo-bicicleta h2 {
  letter-spacing: 0.015rem;
  margin-top: 60px;
  margin-bottom: 20px;
}
.bicicleta-info,
.bicicleta-ficha {
  padding: 32px;
  background: var(--preto);
  border-radius: 4px;
}
.bicicleta-info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}
.bicicleta-info img {
  width: 24px;
}
.bicicleta-info h3 {
  margin-top: 8px;
  margin-bottom: 8px;
}
.bicicleta-ficha li {
  padding: 4px 0px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--cinza3);
}
.bicicleta-ficha li:last-child {
  border-bottom: none;
}
.seg-bg {
  background: var(--preto1);
  box-shadow: inset 0 80px var(--branco), inset 0 -80px var(--preto);
}
.segseg {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  align-items: center;
}
.conteudo-seg p {
  margin-top: 20px;
  margin-bottom: 32px;
  max-width: 40ch;
}
.imgsegb {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
@media (max-width: 800px) {
  .bicicleta1 {
    grid-template-columns: 1fr;
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .img-bicicletas {
    grid-row: 2;
  }
  .segseg {
    grid-template-columns: 1fr;
  }
  .conteudo-seg {
    grid-row: 1;
    padding-top: 40px;
  }
  .seg-bg {
    box-shadow: none;
    box-shadow: inset 0 -80px var(--preto);
  }
}
@media (max-width: 400px) {
  .bicicleta-info {
    grid-template-columns: 1fr;
  }
  .comprar {
    grid-template-columns: 1fr;
  }
}
