.botão {
  display: inline-block;
  background: linear-gradient(#ffc700, #ea8c00);
  color: var(--amarelo1);
  padding: 16px 24px;
  border-radius: 4px;
  font-family: Poppins;
  font-weight: 600;
  font-size: 18px;
  max-width: max-content;
}
.botão.secundario {
  background: var(--cinza3);
  color: var(--branco1);
}
.botão.seta::after {
  content: "";
  display: inline-block;
  width: 18px;
  height: 10px;
  margin-left: 12px;
  background-image: url("/img/icones/seta.svg");
  transition: transform 0.2s;
}
.botão.seta:hover::after {
  transform: translateX(4px);
}
.botão:hover {
  background: linear-gradient(#f3be00, #d68000);
}
.botão.secundario:hover {
  background: var(--cinza2);
}
.titulo-bg {
  background: var(--preto1);
  padding-top: 60px;
  padding-bottom: 60px;
}
.titulo-cont h1 {
  margin-top: 8px;
}
@media (max-width: 800px) {
  .botão {
    padding: 12px 20px;
    font-weight: 500;
    font-size: 16px;
  }
  .titulo-bg {
    background: var(--preto1);
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .titulo-cont h1 {
    margin-top: 0px;
  }
}
