.bicicletas {
  box-sizing: border-box;
  max-width: 1400px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  gap: 40px;
  margin-top: 60px;
  overflow-x: auto;
}
.opções {
  margin-top: 100px;
  margin-bottom: 100px;
}
.bicicletas h2 {
  margin-top: 14px;
  margin-bottom: 8px;
  display: flex;
  align-items: center;
}
.bicicletas a {
  display: block;
}
.bicicletas h2::before {
  content: "";
  display: inline-block;
  background: var(--amarelo);
  height: 12px;
  width: 12px;
  border-radius: 6px;
  margin-right: 8px;
  transition: width 0.2s;
}
.bicicletas a:hover h2::before {
  width: 24px;
}
.preço {
  padding-right: 20px;
}
.bicicleta {
  min-width: 280px;
}
@media (max-width: 800px) {
  .opções {
    margin-top: 60px;
    margin-bottom: 60px;
  }
  .bicicletas {
    gap: 20px;
    margin-top: 24px;
    padding-bottom: 20px;
  }
}
