.depoimento {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background: var(--amarelo);
  overflow: hidden;
}
.depoimento img {
  border-radius: 0px;
  object-fit: cover;
  height: 100%;
  width: 100%;
}
.conteudodep {
  padding: 40px 40px 80px 80px;
  align-self: end;
}
.conteudodep span {
  display: block;
  margin-top: 32px;
}
.conteudodep p {
  max-width: 24ch;
  position: relative;
}
.conteudodep p::before {
  content: "“";
  font-size: 5rem;
  color: var(--amarelo2);
  position: absolute;
  left: -50px;
  top: -20px;
}
.conteudodep p::after {
  content: "”";
  font-size: 5rem;
  color: var(--amarelo2);
  position: absolute;
}
@media (max-width: 800px) {
  .depoimento {
    grid-template-columns: 1fr;
  }
  .conteudodep p {
    padding-top: 32px;
  }
  .conteudodep p::before {
    left: -50px;
    top: 5px;
  }
  .conteudodep {
    padding: 40px 80px;
    justify-self: center;
  }
  .depoimento img {
    height: 200px;
  }
}
