.seguros-bg {
  background: var(--preto1);
}
.seguros {
  padding-top: 60px;
  padding-bottom: 60px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  align-items: center;
}
.seguros h1 {
  grid-column: 1/-1;
}
.peo.ouro {
  grid-column: 2;
  grid-row: 2;
  position: relative;
}
.peo {
  background: var(--preto);
  border-radius: 8px;
  padding: 32px 32px 32px 60px;
  display: grid;
  grid-template-columns: 1fr auto;
}
.peo h3 {
  margin-bottom: 40px;
}
.peo span {
  grid-column: 2;
  grid-row: 1;
  display: block;
  text-align: right;
}
.peo ul {
  grid-column: 1/-1;
  margin-bottom: 32px;
}
.peo a {
  grid-column: 1/-1;
}
.peo li + li {
  margin-top: 20px;
  position: relative;
}
.peo li {
  position: relative;
  display: flex;
  align-items: center;
}
.peo li::before {
  content: "";
  display: inline-block;
  width: 14px;
  height: 12px;
  background-image: url("/img/check.svg");
  position: absolute;
  left: -22px;
}
.spanp {
  display: block;
  position: absolute;
  top: 32px;
  right: 32px;
}
@media (max-width: 800px) {
  .seguros {
    padding-top: 60px;
    padding-bottom: 60px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 40px;
    align-items: center;
  }
  .peo.ouro {
    grid-column: 1;
    grid-row: 3;
  }
  .seguros h1 {
    grid-column: 1;
  }
}
