.tecnologia-bg {
  background: var(--preto1) url("/img/dec/bottom-left.svg") no-repeat bottom
    160px left 80px;
  box-shadow: inset 0 -80px var(--branco), inset 0 80px var(--branco);
}
.tecnologia {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}
.tecnologia h4 {
  padding-top: 140px;
  padding-bottom: 20px;
}
.tecnologia h1 {
  padding-bottom: 32px;
}
.vantagens {
  display: flex;
  gap: 32px;
  padding-bottom: 140px;
}
.link {
  padding-top: 20px;
  display: inline-block;
  position: relative;
  padding-bottom: 64px;
}
.link::after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background: currentColor;
  position: absolute;
}
.link:hover {
  color: var(--branco);
}
.vantagens h6 {
  padding-bottom: 8px;
  padding-top: 12px;
  width: max-content;
}
.imgtec {
  height: 100%;
  object-fit: cover;
  object-position: left;
}
@media (max-width: 800px) {
  .tecnologia {
    grid-template-columns: 1fr;
  }
  .tecnologia-bg {
    box-shadow: none;
  }
  .tecnologia h4 {
    padding-top: 60px;
  }
  .vantagens {
    padding-bottom: 60px;
  }
  .imgtec {
    display: none;
  }
}
@media (max-width: 600px) {
  .vantagens {
    flex-direction: column;
  }
}
