.cont-termos {
  padding-bottom: 120px;
  padding-top: 60px;
}
.cont-termos h2 {
  margin-bottom: 28px;
}
.item {
  padding-top: 60px;
}
li p {
  margin-top: 20px;
  max-width: 75ch;
}
@media (max-width: 800px) {
}
